body,
#app-mount .app_b1f720,
#app-mount .app_de4237,
#app-mount .loading__30066,
#app-mount .wrapper__246a1,
#app-mount .bg__12180,
#app-mount .layer__2efaa,
#app-mount .container_b2ce9c,
#app-mount .container__590e2,    
#app-mount .privateChannels__93473,
#app-mount .directoryContainer_d3edd9,
#app-mount .panels__58331 > *,
#app-mount .chat__52833,
#app-mount .chatContent__5dca8,
#app-mount .container_b181b6,
#app-mount .container__10dc7,
#app-mount .container__7590f,
#app-mount .container_def45c,
#app-mount .wrapper_b8c724,    
#app-mount .noChannel__7bbff,    
#app-mount .members__9f47b,
#app-mount .members__9f47b > div,
#app-mount .content_c21a16,
#app-mount .container__5c7e7,
#app-mount .container__0a6a9,
#app-mount .applicationStore_fc7d76,
#app-mount .shop_b31ed2,
#app-mount .containerSidenav__2623a,
#app-mount .pageWrapper_fef757,
#app-mount .pageContainer__1e84a,
#app-mount .scrollerBase_dc3aa9,
#app-mount .standardSidebarView__1129a,
#app-mount .contentRegion__0bec1 {
    background: transparent;
}
#app-mount .sidebarRegion__60457,    
#app-mount .sidebar__0OpfR {
    background-color: rgba(0, 0, 0, .1);
}
#app-mount {
    background-color: rgba(0, 0, 0, .3);
}
#app-mount .wrapper_a7e7a8 {
    background-color: rgba(0, 0, 0, .2);
}
#app-mount .sidebar_ded4b5 {
    background-color: rgba(0, 0, 0, .1);
}
#app-mount .panels__58331 {
    background-color: rgba(0, 0, 0, .05);
}
#app-mount .container__11d72.themed_b152d4,
#app-mount .chatHeaderBar__3e137 {
    background-color: rgba(0, 0, 0, .1);
}
#app-mount .membersWrap__90226,
#app-mount .nowPlayingColumn_f5023f {
    background-color: rgba(0, 0, 0, .1);
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    background: url(https://i.imgur.com/CdyoUzP.jpg) center/cover no-repeat;}
