/* ---------------------------------------------------------------------------------------------------------------------------- */
  /*--- COMMON VARIABLES ---*/
/* ---------------------------------------------------------------------------------------------------------------------------- */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- Transparency -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Options*/
.chat__52833,
.body-1Ukv50,
.icon-2IDTxf,
.item__183e8,
.tile-2TcwiO,
.modal_b38209,
.header_f5cc88,
.folder__17546,
.header__38b17,
.anchor_c8ddc0,
.footer_a3029c,
.avatar-2Vndt_,
.avatar__445f3,
.footer-1voAYT,
.upload_c98ecb,
.header__53b07,
.bd-addon-card,
.header__7133e,
.member_b44d5d,
.header_d08072,
.divider__33a9a,
.divider-3jU7zr,
.members__9f47b,
.divider_ffec75,
.divider-2JN8Vy,
.divider-1wnNcY,
.content-2eQb8J,
.members__9f47b,
.wrapper__3d460,
.wrapper__5c5cd,
.sidebar_ded4b5,
.wrapper_a7e7a8,
.wrapper__7a35f,
.preview_a8dd8d,
.wrapper_cd625e,
.wrapper-3z7DuG,
.divider-2keupe,
.root-2s1-ri > *,
.titleBar__01af6,
.replyBar_b64d74,
.scroller__52680,
.scroller__244e5,
.scroller__52ae7,
.scroller-3b1p7z,
.scroller-35tvpe,
.scroller_e9501c,
.container__6968f,
.container_def45c,
.container__7712a,
.container-3r7mfc,
.container_bc0d2b,
.container__5a6b1,
.separator-178dlw,
.container-ZSFRqx,
.separator-RaufQu,
.container-3zZkKh,
.separator-3PdcLL,
.separator-3PdcLL,
.container__20de0,
.container__0a6a9,
.container__11d72,
.container__42884,
.container_b2ce9c,
.guildIcon_cccd03,
.inspector__993e1,
.container_d667ff,
.headerIcon__8e637,
.background-3X6N7I,
.background_b61fcc,
.topSection-13QKHs,
.bd-search-wrapper,
.emojiPicker_b65ce9,
.textDivider__8c021,
.modalHeader_e68db4,
.tagsDivider-3LhkLA,
.verticalFit_d9ac53,
.chatContent__5dca8,
.tagsDivider-3LhkLA,
.attachedBars_da3c74,
.exampleModal-2fUA5X,
.exampleModal-3D7ypH,
.anchor_c8ddc0:hover,
.option_b5597b:after,
.searchHeader__19d87,
.inputDefault__80165,
.guildSidebar__8763f,
.participants-3hk3ND,
.contentRegion__0bec1,
.cameraWrapper__1ee6d,
.channelHeader__5d30c,
.textContainer__709ff,
.chatHeaderBar-2fUORh,
.callContainer-BGIngG,
.headerDivider_ec8d1f,
.descriptionBox_cca0c3,
.reaction_fef95b:hover,
.previewMessage__1075c,
.contentWrapper-3vHNP2,
.contentWrapper-2f9yME,
.contentWrapper__321ed,
.reaction_b90ab0:hover,
.sectionDivider__68d2a,
.contentWrapper_eab878,
.footerSeparator__57d95,
.containerFooter_c8da8a,
.keywordTextArea__2035a,
.privateChannels__93473,
.sourceThumbnail__21c87,
.connectContainer__8050b,
.circleIconButton_d8df29,
.contentContainer__3b585,
.applicationStore_fc7d76,
.nowPlayingColumn_f5023f,
.mentioned__58017:before,
.formFieldWrapper-3IiCRS,
.exampleContainer-3KBk_U,
.exampleContainer-hz7EUM,
.metadataContainer__7b316,
.selectPlanDivider_bfde1c,
.overlayBackground__86b78,
.accountProfileCard__22589,
.messagesPopoutWrap_b3b384,
.fullscreenOnMobile__96797,
.searchBarComponent__22760,
.option_b5597b:hover:after, 
.roleMessagePreview__8088a,
.popout__08442 .flex_f5fbb7,
.standardSidebarView__1129a,
.emptyStateContainer-xWOMPJ,
.descriptionContainer__3814d,
.avatarUploaderInner-p38nm2n,
.layer_ec16dd .banner__6d414,
.scrollTierBackground__36806,
.contentRegionScroller__86c79,
.sidebarRegionScroller__1fa7e,
.mainCard__8a660 .input_d266e7,
.userProfileOuterThemed__6eb84,
.bd-addon-list .bd-addon-header,
.focusLock__10aa5 .input_d266e7,
.userProfileInner__8065b:before,
.content__764ce .message__04d9f,
.groupCollapsedContainer-1h2Wkb,
.container__11d72.themed-Hp1KC_,
.userProfileOuterUnthemed__48723,
.howItWorksImageContainer__91f71,
.checklist__88646 .header_d08072,
.topSection_dfb73b .banner__6d414,
.reaction_b90ab0.reactionMe_bf6909,
.reaction_fef95b.reactionMe__98f57,
.layer_ec16dd .bannerPremium__42693,
.lookFilled__19298.colorGreen__5f181,
.thin_b1c063::-webkit-scrollbar-track,
.auto-1QyTTa::-webkit-scrollbar-track,
.phoneField__65729 .inputField__3008c,
.lookOutlined-3yKVGo .colorRed-rQXKgM,
.auto_a48086::-webkit-scrollbar-track,
.thin_b1c063::-webkit-scrollbar-track,
.auto-1QyTTa::-webkit-scrollbar-corner,
.userProfileInnerThemedNonPremium__3d0a6,
.userProfileInnerThemedWithBanner_d5f991,
.topSection_dfb73b .bannerPremium__42693,
.option_b5597b[aria-selected=true]:after,
.scroller__52ae7::-webkit-scrollbar-track,
.emojiItem_b15dee.emojiItemSelected__1a09a,
.userPanelOuter__880e5 .userProfileInner__8065b,
.layerContainer_d5a653 .theme-dark .layer_ec16dd,
.userProfileInnerThemedPremiumWithoutBanner__703b1,
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda,
.menu_dc52c6 .item__183e8:hover, .menu_dc52c6 .focused__27621,
.progress_b93712[style*="background-color: var(--background-modifier-active);"],

 #app-mount .bg__12180,
 #app-mount .layer__2efaa,
.theme-dark .app_de4237,
.theme-dark .root_a28985,
.theme-dark .card__86773,
.theme-dark .footer-1KGV6y,
.theme-dark .footer__2f589,
.theme-dark .footer_ceda43,
.theme-dark .payment__7d702,
.theme-dark .tierPill-l7DvKo,
.theme-dark .iconMask__1aff7,
.theme-dark .scroller-3X7KbA,
.theme-dark .scroller__4b984,
.theme-dark .container_b181b6,
.theme-dark .container_ca50b9,
.theme-dark .container_d6dad3,
.theme-dark .container__5c7e7,
.theme-dark .container__590e2,
.theme-dark .searchBox_a63854,
.theme-dark .background-fkKrXt,
.theme-dark .pageWrapper_fef757,
.theme-dark .giftCodeRow-3pI-zz,
.theme-dark .paymentPane__9cf01,
.theme-dark .expandedInfo__47bad,
.theme-dark .scrollableContainer__33e06,
.theme-dark .gemIndicatorContainer-PqApbX,
.theme-dark .codeRedemptionRedirect-2hYMSQ,
.theme-dark .calendarPicker__5c474 .react-datepicker,
.theme-dark .calendarPicker__5c474 .react-datepicker__header {
  background-color: transparent !important;
}

/*--> Elements*/
.divider__9e497,
:root:has(bd-body) .wordmark__0d178::after,
.blobContainer__5ee50 .wrapper_d281dd .childWrapper__01b9c,
.blobContainer__5ee50 .wrapper_d281dd:hover .childWrapper__01b9c {
  color:transparent
}
.icon_ef4486,
.nowPlayingColumn_f5023f,
.childWrapper__01b9c > svg > path,
.header__104ca .flowerStarContainer_d8d14b *,
.tooltip__01384 .flowerStarContainer_d8d14b *,
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/shop"],
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/store"],
.typeWindows__5fa63 > .wordmark__0d178 > svg > g > path:not(:first-child) {
  display: none !important;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- Extreme Dark Nuances -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Color*/
.option_be8b2e[aria-selected="true"]:not(.option_be8b2e.multi__8d15f) {
  background-color: var(---extreme-dark-color) !important;
}
.row_c1b980,
.box__6431e,
.flex_f5fbb7,
.card__4dc22,
.side_b4b3f6,
.root_e292f6,
.inner__999f6,
.table__520cb,
.circle__7dd22,
.panels__58331,
.button__9491f,
.wrapper__4e8f1,
.wrapper_cf13f4,
.wrapper__0df00,
.giftCard__30972,
.container__30406,
.container__9c82e,
.searchBar_e0c60b,
.container__9f90c,
.lookFilled__3dba3,
.stepNumber_f429db,
.detailsBlock__1191c,
.autocomplete_df266d,
.searchResult_dcd237,
.promotionCard__8581c,
.iconContainer__82920,
.boostContainer__8cfa8,
.guildContainer__9d362,
.channelNameText_ae1c38,
.billingInformation_ed226c,
.appliedBoostContainer_d3ed2e  {
  background-color: var(---extreme-dark-color-5) !important;
}
.bd-footer,
.item_b7fb7e,
.scroller_cc9b9a,
.iconLayout__6d744,
.bd-description-wrap,
.actionButton__23182,
.channelTextArea__2e60f,
.categorySection__1f2b4 ,
.focusLock__10aa5 .inputWrapper__934f5,
.focusLock__10aa5 .searchBarComponent__46512 {
  background-color: var(---extreme-dark-color-7) !important;
}

/*--> Elements*/
.text__1dddb,
.option_b5597b,
.bd-button:hover,
.username__81ee6,
.activity__24558,
.button_d553e5:hover,
.defaultColor__87d87,
.option_b5597b:hover,
.discriminator_aef524,
.option_b5597b strong,
.text-lg-semibold__18f10,
.customStatusText_f5aa9a,
.userTagUsernameBase__75fb1,
.bd-button .bd-addon-button,
.winButtonClose__73489:hover,
.section__6f61e .title_ef4a6d,
.winButtonMinMax__72f36:hover,
.button_d553e5.selected__63428,
.bd-addon-list .bd-addon-header,
.userText__3e8b7 .nickname__3d1d7,
.resultsGroup_ea9b64 .header_b24bd1,
.searchOption__41bc5 .answer__9ff92,
.lookFilled__19298.colorBrand_b2253e,
.tabBarContainer__63f55 .item__48dda,
.markup_a7e664 .text-sm-normal_e612c7,
.lookFilled__19298.colorBrand_b2253e:hover,
.lookFilled__19298 .colorBrand_b2253e:hover,
.lookFilled__19298 .colorGreen__5f181:hover,
.resultsGroup_ea9b64 .searchLearnMore_bf7b8e, 
.lookFilled__19298 .buttonColor_fa1bb3:hover,
.lookFilled__19298 .colorPrimary__6ed40:hover,
.textBadge__45d79[style*="background-color:"],
.lookFilled__19298 .colorBrandNew_fd170a:hover,
.resultsGroup_ea9b64 .searchClearHistory_cd1df2, 
.option_b5597b[aria-selected=true],.item__48dda,
.option_b5597b.user__97b4c .displayedNick_df9a16,
.option_b5597b.user__97b4c .displayUsername_aea59a,
.bd-addon-list .bd-addon-button.bd-button-danger:hover,
.option_b5597b:hover :where(.filter_bd5fe7, .answer__9ff92, .plusIcon__36244, .user__97b4c .displayedNick_df9a16, .user__97b4c 
                            .displayUsername_aea59a),
.option_b5597b[aria-selected=true] :where(.filter_bd5fe7, .answer__9ff92, .plusIcon__36244, .user__97b4c .displayedNick_df9a16, 
                            .user__97b4c .displayUsername_aea59a) {
  color: var(---extreme-dark-color) !important;
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/- Dark Color Nuances -\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Color*/
.fieldList_aab0de {
  background-color: var(---dark-color-6) !important;
}
.message__04d9f {
  background-color: var(---dark-color-8) !important;
}

/*--> Elements*/
.bd-button,
.icon__5a617,
.icon__5a617,
.button_d553e5,
.button_d553e5,
.discrimBase_e0c4c5,
.winButtonClose__73489,
.winButtonMinMax__72f36,
.channelNameIcon_dbb458,
.theme-dark .wrapper_f46140,
.additionalActionsIcon__33de0,
.lookFilled__19298.colorBrand_b2253e,
.lookFilled__19298.colorGreen__5f181,
.lookFilled__19298.buttonColor_fa1bb3,
.lookFilled__19298.colorPrimary__6ed40,
.lookFilled__19298.colorBrandNew_fd170a,
.container_b6b15b .discriminator_a801dd,
.bd-addon-list .bd-addon-button.bd-button-danger {
  color: var(---dark-color) !important;
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- Extreme light Nuances -\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Color*/

/*--> Element*/
.item__48dda,
.panels__58331,
.header_f72511,
.noWrap__5c413,
.username_d272d6,
.selected_d94cf9,
.searchBar_e0c60b,
.interactive_a868bc,
.interactive__776ee,
.userInfoText__5f822,
.defaultColor__77578,
.text-md-normal__4afad,
.unicodeShortcut__1dd6b,
.channelNameText_ae1c38,
.side_b4b3f6 .item__48dda,
.interactive__776ee:hover,
.interactiveSelected_ec846b,
.container__08420 .text__6bb48,
.interactive__776ee:focus-within,
.selected__9800b.container__4f20e,
.item_b7fb7e .text-sm-normal_e612c7,
.theme-dark .listItemTooltip-eHcnUw,
.highlighted-3PcOfB.container__4f20e,
.canCopy__81263 .text-sm-normal_e612c7,
.labelCell_dcfdc1 .text-sm-normal_e612c7,
.clickable__17ccb.container__4f20e:hover,
.clickable__17ccb.container__4f20e:active,
.columnHeading__7e90b .defaultColor__87d87,
.promotionCard__8581c .text-sm-normal_e612c7,
.clickable__17ccb.container__4f20e:hover .muted-14PyqW,
.option_be8b2e[aria-selected="true"]:not(.option_be8b2e.multi__8d15f) {
  color: var(---extreme-light-color) !important
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/- Main Color Nuances -\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Color*/
.bd-button:active,
.diversityEmojiItem__6505f:hover,
.bd-button .bd-button-title:hover,
.theme-dark .imageUploaderIcon__0c13b,
.bd-addon-views .bd-view-button.selected,
.textBadge__45d79[style*="background-color:"] {
  background-color: var(---main-color) !important;
}
.interactive__776ee:hover,
.interactive__776ee:focus-within,
.clickable__17ccb:hover .layout_bb8e67 {
  background-color: var(---main-color-3) !important;
}
.item_f9d377,
.unreadRelevant__44f9e,
.peopleListItem_d14722:hover {
  background-color: var(---main-color-5) !important;
}
.accountButtonInner__80e3a:hover, 
.clickable__17ccb:active .layout_bb8e67,
.textBadge__45d79[style*="background-color:"] {
  background-color: var(---main-color-6) !important;
}
.bd-addon-list .bd-addon-button.bd-button-danger:hover,
.bd-button:hover,
.button_d553e5:hover,
.button_d553e5.selected__63428,
.numberBadge__50328[style*="background-color"] {
  background-color: var(---main-color-7) !important;
} 

/*--> Elements*/
.item__183e8,
.content_d67847,
.theme-dark .main-color {
  color: var(---main-color) !important;
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/- Secondary color nuances -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Color*/
.circleIconButton_d8df29.selected-2r1Hvo {
  background-color: var(---secondary-color) !important;
}
.wrapper_c727b6,
.toolbar_c7b525,
.selected_d94cf9 {
  background-color: var(---secondary-color-4) !important;
}
.header_f72511 {
  background-color: var(---secondary-color-5) !important;
}
.accountButtonInner__80e3a {
  background-color: var(---secondary-color-6) !important;
}
.peopleListItem_d14722,
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
  background-color: var(---secondary-color-7) !important;
}

/*--> Elements*/
.icon__4cb88,
.circleIconButton_d8df29 {
  color: var(---secondary-color) !important;
}


.item__183e8,
.discrimBase_e0c4c5,
.channelNameIcon_dbb458,
.link__95dc0 .icon_eff5d4,
.link__95dc0 .name__8d1ec,
.additionalActionsIcon__33de0,
.container_b6b15b .discriminator_a801dd,
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483 .name__590d6,
.sidebar_ded4b5 .containerUserOver_fe1d69 .wrapper__9c483 .name__590d6,
.sidebar_ded4b5 .containerDragAfter__72575 .wrapper__9c483 .name__590d6,
.sidebar_ded4b5 .containerDragBefore__06455 .wrapper__9c483 .name__590d6,
.wrapper__7bcde.modeUnread_f74c03 .link__95dc0 .linkTop_eaa673 .name__8d1ec {
  filter: drop-shadow(0 0 3px) !important;
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- Other Things -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*--> Background Gradient*/
.emojiPicker_b65ce9,
.contentWrapper__321ed,
.contentWrapper_eab878,
.searchResultsWrap__9f374,
.userPanelInnerThemed__1804b,
.theme-dark .container_d6dad3,
.userProfileInnerThemedNonPremium__3d0a6,
.userProfileInnerThemedWithBanner_d5f991,
.theme-dark .layer_ec16dd .focusLock__10aa5,
.userProfileInner__8065b:has(.editIcon__48e69),
.userProfileInnerThemedPremiumWithoutBanner__703b1 {
  background-image: -webkit-linear-gradient(
    56deg,
    var(---dark-color-8) 20%,
    var(---secondary-color-8) 35%,
    var(---main-color-8));
  box-shadow: none;
  padding-top: 8px;
}
.connectedAccountContainer__23f00 {
  background-image: -webkit-linear-gradient(
    56deg,
    var(---dark-color) 24%,
    var(---secondary-color-5) 100%
  );
  border: 2px solid var(---main-color-5);
}
.bd-addon-list .bd-addon-header {
  background-image: -webkit-radial-gradient(
    50% 50%,
    ellipse cover,
    var(---main-color) 26%,
    var(---main-color-2) 90%
  );
}
.name__590d6:after,
.name__590d6:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right,
    var(---categories-color) 50%,
    transparent
  );
  margin-left: 5px;
}
.lookFilled__19298.colorBrand_b2253e {
  background-image: -webkit-radial-gradient(
    50% 50%,
    ellipse cover,
    var(---main-color-6) 30%,
    var(---extreme-dark-color-8) 80%
  );
}
.lookFilled__19298.colorBrand_b2253e:hover {
  background-image: -webkit-radial-gradient(
    50% 50%,
    ellipse cover,
    var(---main-color) 30%,
    var(---extreme-dark-color) 80%
  );
}
.contentWrapper-3vHNP2,
.contentWrapper-2f9yME {
  background-image: -webkit-linear-gradient(
    56deg,
    var(---extreme-dark-color) 20%,
    rgb(244, 118, 255) 75%
  );
  box-shadow: none;
  padding-top: 8px;
}
.lookFilled__19298.colorGreen__5f181 {
  background-image: -webkit-radial-gradient(
    50% 50%,
    ellipse cover,
    var(---secondary-color-5) 30%,
    var(---dark-color-8) 80% );
}
.lookFilled__19298.colorGreen__5f181:hover {
  background-image: -webkit-radial-gradient(
    50% 50%,
    ellipse cover,
    var(---main-color-5) 30%,
    var(---dark-color-8) 80%);
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/- Avatar Card Banner -\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

.layer_ec16dd .banner__6d414,
.topSection_dfb73b .banner__6d414 {
  background-image: none !important;
  background-image: var(---banner-image-basic) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
  margin-left: 3px;
}
.layer_ec16dd .bannerPremium__42693,
.topSection_dfb73b .bannerPremium__42693 {
  background-image: none !important;
  background-image: var(---banner-image-premium) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
}
.userPanelInnerThemed__1804b .banner__6d414 {
  background-image: none !important;
  background-image: var(---banner-image-panel) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
}
.userProfileOuterThemed__6eb84 {
  box-shadow: inset 0 0 0 6px var(--profile-gradient-primary-color) !important;
}
.userProfileInnerThemedNonPremium__3d0a6 {
  box-shadow: inset 0 0 0 6px var(---avatar-card-border) !important;
}
.bannerSVGWrapper__3e7b0 {
  min-width: 200px !important;
  width: 340px;
}
.topSection_dfb73b .bannerSVGWrapper__3e7b0 {
  min-width: 600px !important;
  min-height: 106px !important;
}
.accountProfileCard__22589 .bannerSVGWrapper__3e7b0 {
  min-width: 660px !important;
  min-height: 100px !important;
}
.layer_ec16dd .banner__6d414,
.topSection_dfb73b .banner__6d414,
.userPanelInnerThemed__1804b .banner__6d414{
  margin-left: 6px !important;
  width: calc(100% - 12px) !important;
}
.layer_ec16dd .bannerPremium__42693,
.topSection_dfb73b .bannerPremium__42693,
.userPanelInnerThemed__1804b .bannerPremium__42693 {
  margin-left: 0px !important;
  width: calc(100% - 0px) !important;
}

/*--> Top Left Name*/
.typeWindows__5fa63 > .wordmark__0d178 {
  position: static;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: none;
  user-select: none;
  order: 1;
}
.typeWindows__5fa63 > .wordmark__0d178:before,
.typeWindows__5fa63 > .wordmark__0d178:after {
  margin-left: 3px;
  font-weight: 600;
  font-family: var(--font-headline);
  white-space: nowrap;
  order: 1;
}
:root:has(bd-body) .wordmark__0d178::after,
:root:has(link[href^="replugged"]) .wordmark__0d178::after {
  content: var(---top-left-name);
}
:root:has(bd-body) .wordmark__0d178::after {
  margin-top: -4px;
  margin-left: 7px;
  font-size: 12px;
  background-image: var(---top-left-name-color);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 1px var(---extreme-dark-color));
}
.typeWindows__5fa63 > .wordmark__0d178 > svg {
  filter: drop-shadow(0 0 5px var(---top-left-image-color));
  margin-top: 1px;
}
.typeWindows__5fa63 > .wordmark__0d178 > svg > g > path {
  fill: var(---top-left-image-color);
}
.typeWindows__5fa63 > .wordmark__0d178 > svg > g > path:first-child {
  d: path(var(---top-left-image-svg));
}

/*--> Clickable Button*/
.bd-button,
.winButton__88672,
.lookFilled__19298.colorBrand_b2253e,
.lookFilled__19298.colorGreen__5f181,
.auto_a48086::-webkit-scrollbar-thumb,
.thin_b1c063::-webkit-scrollbar-thumb,
.lookFilled__19298.buttonColor_fa1bb3,
.lookFilled__19298.colorPrimary__6ed40,
.lookFilled__19298.colorBrandNew_fd170a,
.bd-addon-list .bd-addon-button.bd-button-danger {
  background-color: var(---inactive-color-6) !important;
}
.bd-button:hover,
.winButton__88672:hover,
.lookFilled__19298.colorBrand_b2253e:hover,
.lookFilled__19298.colorGreen__5f181:hover,
.lookFilled__19298.buttonColor_fa1bb3:hover,
.auto_a48086::-webkit-scrollbar-thumb:hover,
.thin_b1c063::-webkit-scrollbar-thumb:hover,
.lookFilled__19298.colorPrimary__6ed40:hover,
.lookFilled__19298.colorBrandNew_fd170a:hover,
.bd-addon-list .bd-addon-button.bd-button-danger:hover {
  background-color: var(---hover-color-6) !important;
}

/*--> Categories and Channels Color*/
.name__590d6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(---categories-color);
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483 .name__590d6,
.sidebar_ded4b5 .containerDragAfter__72575 .wrapper__9c483 .name__590d6,
.sidebar_ded4b5 .containerDragBefore__06455 .wrapper__9c483 .name__590d6,
.sidebar_ded4b5 .containerUserOver_fe1d69 .wrapper__9c483 .name__590d6 {
  color: var(---categories-color);
}
.collapsed__8fe3c .name__590d6:before,
.collapsed__8fe3c .name__590d6:after {
  flex-grow: 0;
}
.muted_de6e6e {
  opacity: 0.6;
}
.link__95dc0 .icon_eff5d4 {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  color: var(---channel-icon);
  opacity: 1;
  transition: all 0.15s ease-in-out;
}
.link__95dc0 .name__8d1ec {
  color: var(---channel-color);
  transition: all 0.15s ease-in-out;
}
.modeUnread_f74c03 .icon_eff5d4,
.modeUnread_f74c03:hover .icon_eff5d4 {
  color: var(---unread-channel-icon)
}
.wrapper__7bcde.modeUnread_f74c03 .link__95dc0 .linkTop_eaa673 .name__8d1ec {
  color: var(---unread-channel);
  opacity: 1;
}
.wrapper__7bcde.modeMuted__0aeea .link__95dc0 .linkTop_eaa673,
.wrapper__7bcde.modeMuted__0aeea .link__95dc0 .linkTop_eaa673 .name__8d1ec {
  color: var(---muted-channel);
}

/*--> Messages Settings*/
.avatar__08316 {
  background-color: var(---avatar-background);
  border: 2px solid var(---avatar-border-color);
  border-radius: 5px;
  text-align: left;
}
.cozy_f5c119 .header__39b23,
.username_d30d99 {
  color: var(---username-color);
  text-shadow: 0 0 5px #000;
}
.message__80c10,
.markup_a7e664 {
  color: var(---messages-color);
}


/* ---------------------------------------------------------------------------------------------------------------------------- */
  /*--- HAZARAD VARIABLES ---*/
/* ---------------------------------------------------------------------------------------------------------------------------- */

.iconBadge_fdf33a {
  background: var(---dark-color-7);
  box-shadow: 0 0 0 1px var(---dark-color);
}
.iconBadge_fdf33a.isCurrentUserConnected_d9734f {
  background: var(---main-color);
  box-shadow: 0 0 0 2px var(---main-color);
}
.icon__92653 {
  padding: 1px;
  color: var(---main-color);
  filter: drop-shadow(0 0 2px var(--main-color));
}

.stepNumber_f429db .heading-md-semibold__574c7 {
  color: #800080 !important;
}
.red-button,
.selected__5711d,
.colorDanger_eec36d,
.searchOption__41bc5 .filter_bd5fe7,
.tabBarContainer__63f55 .item__48dda:hover {
  color: red !important;
}
.colorDanger_eec36d:hover {
background-color: rgb(255, 105, 105) !important
}
.input-125oad,
.bd-switch-body,
.container__871ba {
border-radius: 6px;
}
.content_d67847 {
  background: rgba(0, 0, 0, calc(var(--background-shading) * 0.5));
  text-transform: uppercase;
  border-radius: 0;
  position: relative;
}
.repliedMessage_e2bf4a:before {
  border-left: 3px solid rgb(17, 160, 204);
  border-top: 3px solid rgb(54, 204, 17);
  border-top-left-radius: 0;
}
.numberBadge__50328[style*="background-color"] {
  width: 20px !important;
  height: 20px;
  border: 2px outset var(---main-color);
}
.unread-36eUEm,
.item_f9d377 {
  position: absolute;
  height: 12px !important;
  width: 10px;
  border-radius: 0 2px 2px 0;
}
.container__871ba,
.bd-switch-body {
background-color: rgb(151, 17, 33) !important;
}
.container__871ba,
.bd-switch input:checked + .bd-switch-body {
background-color: rgb(0, 255, 0) !important;
}
.bd-switch input::after + .bd-switch-body,
.bd-switch input:checked + .bd-switch-body {
  --switch-color: $main-color;
}
.interactiveCard-2iMtdk.selected-sszUNx,
.interactiveCard-2iMtdk:active,
.interactiveCard-2iMtdk:hover {
  border: 2px solid var(---extreme-dark-color);
}
.thin_b1c063::-webkit-scrollbar-thumb .auto_a48086::-webkit-scrollbar-thumb,
.auto_a48086::-webkit-scrollbar-track {
  border: none;
  border-radius: 2px;
}
.tooltip__01384 .flowerStarContainer_d8d14b,
.header__104ca .flowerStarContainer_d8d14b {
  width: 100%;
  height: 100%;
  background: var(---server-badge-icon) center / contain no-repeat;
  border-radius: 5px;
}
.spoilerMarkdownContent__2b8f8 {
  background-color: rgba(255, 255, 255, 0.01);
}
.obscuredTextContentInner__07680 {
  color: var(--text-normal);
}
.obscuredTextContentInner__07680 code,
.obscuredTextContentInner__07680 span {
  opacity: unset;
  -webkit-transition: none;
  transition: none;
}
.spoilerContent__37bfa.hidden_f44e41 .obscuredTextContentInner__07680 span {
  filter: blur(2px);
}
.role__631a3 .roleRemoveIcon__7f63d {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}
.role__631a3 .roleRemoveButton__737f2 {
  position: static;
}
.role__631a3 .roleCircle_bae511:before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(---roles-border);
  border: 2px solid transparent;
}
button.bd-addon-button:not(.bd-link, .bd-button-danger) svg,
.bd-addon-list .bd-addon-button.bd-button-danger svg {
  fill: var(---dark-color);
}
button.bd-addon-button:not(.bd-link, .bd-button-danger):hover
  svg
  .bd-addon-list
  .bd-addon-button.bd-button-danger:hover
  svg {
  fill: var(---extreme-dark-color);
}
/*-_-$~Grouped - Settings~$-_-*/
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
  border: 2px ridge var(---secondary-color);
  border-radius: 6px;
}
.wrapper_c727b6,
.toolbar_c7b525 {
  box-shadow: none;
  border-radius: 6px;
}
.header_f72511 {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  border: 2px solid rgba(255, 0, 200, 0.3);
  margin-bottom: 3px;
}
.blue-button {
  color: #00f;
}
.green-button {
  color: #0f0;
}
.closeButton__34341 path {
  fill: var(---close-button-color);
  border-color: var(---border-button);
}
.closeButton__34341 {
  border-style:dotted;
  border-radius: 6px;
  border-width: 2px;
}
/*---Dark Background Image---*/
.theme-dark .app_de4237 {
  background-image: var(---background-image);
  background-size: cover;
  filter: brightness(var(---background-brightness)) 
          blur(var(---background-blur));
}
.theme-dark .root_a28985 {
  border-radius: 5px;
  box-shadow: none;
}
/*---Dark Hover Color---*/
.theme-dark .hover-color {
  color: var(---hover-color);
}
/*Close Button Border*/
.theme-dark .closeButton__34341 {
  border-color: var(---border-button);
}
/*================== BACKGROUND SETTINGS ==================*/

/*---Background Image---*/
.layers_a23c37 {
  background-color: var(---background-bright);
}

.diversityEmojiItem__6505f:hover {
  border-radius: 7px;
}

.textBadge__45d79[style*="background-color:"] {
  border-radius: 4px;
}
.theme-dark .wrapper_f46140 {
  background: var(---secondary-color-9);
  border: 2px outset var(---secondary-color-8);
}
.theme-dark .wrapper_f46140:hover {
  background: var(---main-color-9);
  border: 2px inset var(---main-color-8);
}
.interactive_a868bc,
.interactive__776ee,
.interactive__776ee:hover,
.interactiveSelected_ec846b,
.interactive__776ee:focus-within {
  text-shadow: 0 0 7px var(---extreme-dark-color);
}
.svg_ad7356 > foreignObject {
  mask: none;
}
.childWrapper__01b9c {
  width: 100%;
  height: 100%;
  background: var(---home-icon-inactive) center / 40px no-repeat;
  background-color: var(---home-icon-dark-bg);
  border-radius: 5px;
}
.wrapper_d281dd:hover .childWrapper__01b9c,
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
  width: 100%;
  height: 100%;
  background: var(---home-icon-selected) center / 40px no-repeat;
  background-color: var(---home-icon-light-bg);
  border-radius: 5px;
}
.blobContainer__5ee50 .wrapper_d281dd .childWrapper__01b9c {
  width: 100%;
  height: 100%;
  background: var(---default-server-icon) center / 48px no-repeat;
  font-display: none;
} 
.blobContainer__5ee50 .wrapper_d281dd:hover .childWrapper__01b9c {
  width: 100%;
  height: 100%;
  background: var(---default-server-icon-hover) center / 48px no-repeat;
  font-display: none;
}
.markup_a7e664 code {
  background: var(---light-color-2);
  border: none;
}
.circleIconButton_d8df29 {
  border-radius: 5px;
}
.divider__441cb {
  border-left: none;
}
.container_d667ff {
  border-bottom: none;
}
.anchor_c8ddc0 {
  color: var(---link-color);
}
.anchor_c8ddc0:hover{
  color: var(---link-hover-color);
}

/*=================== THEME DEVELOPPERS ===================*/

.contents_f41bb2
  > img
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: none;
  color: currentcolor;
  text-shadow: 0 0 2px currentcolor;
  border: 1px solid;
  border-radius: 6px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 10px;
  padding: 0 5px;
}
.contents_f41bb2
  > img[src*="684208106124607561"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "ThemERR Founder";
}
.contents_f41bb2
  > img[src*="194151269399527425"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Admin";
}
.contents_f41bb2
  > img[src*="144881947557101568"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Admin";
}
.contents_f41bb2
  > img[src*="332394843743584256"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Team";
}
.contents_f41bb2
  > img[src*="240437190339854337"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Team";
}
.contents_f41bb2
  > img[src*="126652966265421824"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Team";
}
.contents_f41bb2
  > img[src*="393900343135830016"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Team";
}
.contents_f41bb2
  > img[src*="335677038830682112"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="195270435015884800"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="236579127090610176"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="97797564866236416"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="150750980097441792"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="213067580531933196"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="858800346884997142"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Contributor";
}
.contents_f41bb2
  > img[src*="538745942493495298"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Translator";
}
.contents_f41bb2
  > img[src*="265627010733178892"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "CV Guide Maker";
}
.contents_f41bb2
  > img[src*="309976820109803520"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  content: "Former CV Team";
}
.contents_f41bb2
  > img[src*="934528879979298948"]
  ~ .header__39b23
  > .headerText_f47574
  > .username_d30d99::after {
  border: 0px solid;
  padding: 7px 0px;
  content: var(---srn_rankFN);
}


/*====================== STATUS COLOR =====================*/

.mask__1979f rect[mask="url(#svg-mask-status-online)"],
.mask__1979f rect[mask="url(#svg-mask-status-online-mobile)"] {
  fill: var(---online-color) !important;
}
.mask__1979f rect[mask="url(#svg-mask-status-idle)"] {
  fill: var(---idle-color) !important;
}
.mask__1979f rect[mask="url(#svg-mask-status-dnd)"] {
  fill: var(---dnd-color) !important;
}
.mask__1979f rect[mask="url(#svg-mask-status-streaming)"] {
  fill: var(---streaming-color) !important;
}
.mask__1979f rect[mask="url(#svg-mask-status-offline)"] {
  fill: var(---offline-color) !important;
}
.statusDot__468f8 rect[mask="url(#svg-mask-status-online)"] {
  fill: var(---online-color) !important;
}
.statusDot__468f8 rect[mask="url(#svg-mask-status-idle)"] {
  fill: var(---idle-color) !important;
}
.statusDot__468f8 rect[mask="url(#svg-mask-status-dnd)"] {
  fill: var(---dnd-color) !important;
}
.statusDot__468f8 rect[mask="url(#svg-mask-status-streaming)"] {
  fill: var(---streaming-color) !important;
}
.statusDot__468f8 rect[mask="url(#svg-mask-status-offline)"] {
  fill: var(---offline-color) !important;
}

/*=================== CONNECTED ACCOUNTS ==================*/

.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="GitHub"]) {
  background-color: rgba(34, 34, 34, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="GitHub"]) {
  background-color: rgba(34, 34, 34, 0.5);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Xbox"]) {
  background-color: rgba(16, 124, 16, 0.5) !important;
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Xbox"]) {
  background-color: rgba(16, 124, 16, 0.2) !important;
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Spotify"]) {
  background-color: rgba(29, 185, 84, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Spotify"]) {
  background-color: rgba(29, 185, 84, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Twitch"]) {
  background-color: rgba(145, 70, 255, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Twitch"]) {
  background-color: rgba(145, 70, 255, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="YouTube"]) {
  background-color: rgba(255, 0, 0, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="YouTube"]) {
  background-color: rgba(255, 0, 0, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="TikTok"]) {
  background-color: rgba(255, 55, 255, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="TikTok"]) {
  background-color: rgba(255, 55, 255, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Instagram"]) {
  background-color: rgba(128, 0, 128, 0.5);
}

.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Instagram"]) {
  background-color: rgba(128, 0, 128, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Reddit"]) {
  background-color: rgba(255, 69, 0, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Reddit"]) {
  background-color: rgba(255, 69, 0, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Steam"]) {
  background-color: rgba(0, 0, 0, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Steam"]) {
  background-color: rgba(0, 0, 0, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="X"]) {
  background-color: rgba(0, 158, 247, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="X"]) {
  background-color: rgba(0, 158, 247, 0.2);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Epic Games"]) {
  background-color: rgba(200, 200, 200, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Epic Games"]) {
  background-color: rgba(200, 200, 200, 0.2);
}
.connection_fff5f6:has(.connectionIcon__1428c[alt*="Battle.net"]) {
  background-color: rgba(5, 102, 176, 0.5);
}
.connectionHeader__3c82d:has(.connectionIcon__1428c[alt*="Battle.net"]) {
  background-color: rgba(5, 102, 176, 0.2);
}
